In [2]:
print("welcome to Python world")

welcome to Python world

In [9]:
salary = 25000
house_rent =15000
food_exp = 5000

In [17]:
total_expanses = house_rent + food_exp
savings = salary-total_expanses
savings
print('My Savings per month is ,', salary)

My Savings per month is , 25000

In [18]:
course_fees = 250
num_of_months = 6
total_fees = course_fees*num_of_months
total_fees

1500

In [24]:
num_1=2
num_2="2.1"
num_1+float(num_2)
print(type(num_1))
print(type(float(num_2)))

<class 'int'>
<class 'float'>

In [34]:
x=True
Y=False
print('x and Y is :', x and Y)
print('x or Y is :', x or Y)
print('not x is :', not x)

x and Y is : False
x or Y is : True
not x is : False

In [52]:
x='python '
y='world '
a=x+y
# a *=4
print(a)
len(a)

python world

13

In [54]:
y='python world '

In [55]:
x=y==a
x

True

In [62]:
a,b,c='sam',2,2.3
print(type(b))

<class 'int'>

In [64]:
a=10
b=50
c=100

In [69]:
d=a+b+c
d

180

In [79]:
a+=a-10000
a

8000.0

In [84]:
question = 'what did you have for dinner ?'
answer = input('Enter Dish Name:')
print('you had ' + answer + '! for dinner that is delicious!')

Enter Dish Name:Chicken Biriyani
you had Chicken Biriyani! for dinner that is delicious!

In [89]:
print("""I'm learning Python""")

I'm learning Python

In [93]:
print('I\'m learning Python')

I'm learning Python

In [98]:
print('Sam: Hello John \nHow are you ?')
reply=input('reply: ')
# print(reply)

Sam: Hello John
How are you ?
reply: I 'm doing good , thank you.\n how are you

In [110]:
my_var = 'barks'
print('A dog ' + my_var + '!')
print(f'A dog {my_var}!')
print('A dog {0}!'.format(my_var))

A dog barks!
A dog barks!
A dog barks!

In [119]:
print(len('hello  world'))

12

Lists

In [120]:
empty_list=[]
empty_list

[]

In [206]:
cars_list = ['Toyoto', 'Honda', 'Benz', 'BMW']
cars_list

['Toyoto', 'Honda', 'Benz', 'BMW']

In [207]:
len(cars_list)

4

In [208]:
cars_list[0]
cars_list

['Toyoto', 'Honda', 'Benz', 'BMW']

In [209]:
cars_list[3]='Nissan'
cars_list.append('Audi')
cars_list

['Toyoto', 'Honda', 'Benz', 'Nissan', 'Audi']

In [210]:
cars_list.insert(2,'Ford')
cars_list

['Toyoto', 'Honda', 'Ford', 'Benz', 'Nissan', 'Audi']

In [211]:
cars_list.extend(['Bmw','Tata'])
cars_list

['Toyoto', 'Honda', 'Ford', 'Benz', 'Nissan', 'Audi', 'Bmw', 'Tata']

In [212]:
cars_list.remove('Tata')
cars_list

['Toyoto', 'Honda', 'Ford', 'Benz', 'Nissan', 'Audi', 'Bmw']

In [162]:
# cars_list.insert(1,'Tata')
cars_list.reverse()

In [163]:
cars_list.sort

['Toyoto',
 'Tesla',
 'Tata',
 'Tata',
 'Tata',
 'Tata',
 'Nissan',
 'Nissan',
 'Honda',
 'Ford',
 'Ford',
 'Bmw',
 'Audi',
 'Audi',
 'Audi']

In [165]:
cars_list.sort()
cars_list

['Audi',
 'Audi',
 'Audi',
 'Bmw',
 'Ford',
 'Ford',
 'Honda',
 'Nissan',
 'Nissan',
 'Tata',
 'Tata',
 'Tata',
 'Tata',
 'Tesla',
 'Toyoto']

In [166]:
cars_list.count('Tata')

4

In [167]:
set(cars_list)

{'Audi', 'Bmw', 'Ford', 'Honda', 'Nissan', 'Tata', 'Tesla', 'Toyoto'}

In [177]:
cars_list

[]

In [216]:
cars_list_new= cars_list

In [220]:
cars_list.clear()

In [224]:
cars_list

NameError: name 'cars_list' is not defined

In [231]:
cars_list_new

NameError: name 'cars_list_new' is not defined

In [218]:
import copy
new_cars_list = copy.deepcopy(cars_list_new)

In [230]:
new_cars_list

['Toyoto', 'Honda', 'Ford', 'Benz', 'Nissan', 'Audi', 'Bmw']

In [229]:
del cars_list_new